body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-areas: "score" "image" "shop";
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  gap: 5px;
}
.score-display {
  grid-area: score;
  background: rgba(255, 199, 213, 0.8);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}
.image-display {
  grid-area: image;
}
.shop-display {
  grid-area: shop;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  max-width: 900px;
  height: 50vh;
  overflow-y: auto;
  border-radius: 10px;
  background: rgba(255, 199, 213, 0.8);
  padding: 5px;
  padding-top: 60px;
}

/* Desktop */
@media (min-width: 1024px) {
  .score-display {
    font-size: 2em;
  }
  .shop-display {
    width: 1400px;
    max-height: 1100px;
  }
}

/* iPhone */
@media (max-width: 768px) {
  body {
    width: 100vw;
  }
  .score-display {
    font-size: 1em;
    margin-left: 300px;
  }
  .image-display {
    margin-left: 250px;
  }
  .shop-display {
    font-size: 11px;
    height: 70vh;
    width: 570px;
    padding: 5px;
    margin-left: 300px;
  }
}
